.amatica {
   font-family: 'Amatica SC', cursive;
   
}

.lato{
    font-family: 'Lato', sans-serif;
}

.dancinf{font-family: 'Dancing Script', cursive;
}

.athiti{font-family: 'Athiti', sans-serif;}
